<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="js/vue.js"></script>
    <script src="js/element-ui@2.15.13.js"></script>
    <script src="js/axios.js"></script>
    <link rel="stylesheet" href="css/element-ui@2.15.13.css">
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }

        .el-table {
            width: auto;
        }

        .el-table::before {
            width: auto;
        }
    </style>
</head>
<body>
<div id="root">
    <el-form :inline="true" :model="formInline" class="demo-form-inline" ref="formInline">
        <el-form-item label="当前状态">
            <el-select v-model="formInline.status" placeholder="当前状态">
                <el-option label="启用" value="1"></el-option>
                <el-option label="禁用" value="0"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="企业名称">
            <el-input v-model="formInline.companyName" placeholder="企业名称"></el-input>
        </el-form-item>
        <el-form-item label="品牌名称">
            <el-input v-model="formInline.brandName" placeholder="品牌名称"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit">查询</el-button>
            <el-button @click="myResetForm">重置</el-button>
        </el-form-item>
    </el-form>
    <div style="margin-bottom: 10px">
        <el-button type="primary" @click="dialogFormVisible = true">新增</el-button>
        <el-button type="danger" @click="deleteByIds">批量删除</el-button>
    </div>
    <el-table
            :data="tableData"
            :row-class-name="tableRowClassName"
            header-row-class-name="warning-row"
            @selection-change="handleSelectionChange"
            v-loading="loading"
            style="width: 50%;">
        <el-table-column type="index"></el-table-column>
        <el-table-column type="selection"></el-table-column>
        <el-table-column prop="brandName" label="品牌名称"></el-table-column>
        <el-table-column prop="companyName" label="企业名称"></el-table-column>
        <el-table-column prop="address" label="区域"></el-table-column>
        <el-table-column prop="ordered" label="排序" align="center"></el-table-column>
        <el-table-column prop="status" label="状态" align="center"
                         :formatter="showStatus"></el-table-column>
        <el-table-column label="操作" align="center">
            <template slot-scope="scope">
                <el-button size="mini" type="primary" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
    <div class="block" style="padding-left: 200px; margin-top: 20px;">
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[5, 10, 15, 20]"
                :page-size="size"
                layout="total, sizes, prev, pager, next, jumper"
                :total="totalSize">
        </el-pagination>
    </div>
    <el-dialog :title="form.id === '' ? '新增品牌信息' : '修改品牌信息'" :visible.sync="dialogFormVisible">
        <el-form :model="form" :rules="rules" ref="form">
            <el-form-item label="品牌名称" :label-width="formLabelWidth" prop="brandName">
                <el-input v-model="form.brandName" autocomplete="off" style="width: 50%"></el-input>
            </el-form-item>
            <el-form-item label="公司名称" :label-width="formLabelWidth" prop="companyName">
                <el-input v-model="form.companyName" autocomplete="off" style="width: 75%"></el-input>
            </el-form-item>
            <el-form-item label="排序" :label-width="formLabelWidth">
                <el-input v-model="form.ordered" autocomplete="off" style="width: 20%"></el-input>
            </el-form-item>
            <el-form-item label="区域" :label-width="formLabelWidth">
                <el-select v-model="form.address">
                    <el-option :label="add.address" :value="add.address" v-for="(add, index) in address"
                               :key="index"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="状态" :label-width="formLabelWidth">
                <el-switch v-model="form.status" :active-value="1" :inactive-value="0"></el-switch>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="onDialogSubmit('form')">提 交</el-button>
            <el-button type="warning" @click="resetForm('form')">重 置</el-button>
            <el-button @click="onCancelSubmit">取 消</el-button>
        </div>
    </el-dialog>
</div>
</body>
<script src="js/brand.js"></script>
</html>